.Grid {
  display: grid;
  justify-content: center;
}
.GreetingPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.GridWrapper {
  display: grid;
  margin: 10px auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Cell:hover {
  cursor: pointer;
  border: 1px solid white;
}
