.Mainpage {
  min-height: 100vh;
}

.GenerationsCount {
  text-align: center;
  font-weight: bold;
}

.MuiDialogContent-root > div {
  margin: 20px 0;
}

.MuiCard-root {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.GridSizeButtons > button {
  margin-right: 20px;
}
