
.Mainpage {
    min-height: 100vh;
}

.Grid {
    display: grid;
    
}
.GreetingPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.GreetingPageButtonRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}
.GridWrapper {
    display: grid;
    margin: 10px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
}


.Cell:hover {
    cursor: pointer;
    border: 1px solid white
}

/* .ButtonRow {
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly; 
    background-color: #212121; 
} */
.ToolBar {
    display: flex;
    justify-content: space-evenly;
}

.Button {
    background-color: red;
}

.GenerationsCount {
    text-align: center;
    font-weight: bold;
}

.MuiDialogContent-root>div {
    margin: 20px 0;
}
.GridSizeButtons>button {
    margin-right: 20px;
}

.MuiCard-root {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
