.Mainpage {
    min-height: 100vh;
}

.Grid {
    display: grid;
}

.GridWrapper {
    display: grid;
    margin: 10px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
}


.Cell:hover {
    cursor: pointer;
    border: 1px solid white
}

.ButtonRow {
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 183, 255);
}


.Button {
    background-color: red;
}
/* .Button {
    margin: 4px 12px;
    min-width: 100px;
    padding: 20px;
    font-weight: bold;
}
.Button:hover {
    cursor: pointer;
}
.Button:active {
    background-color: darkgray;
} */